*.un~
*.swo
*.swp
*.crx
background_scripts/completion.js
background_scripts/commands.js
background_scripts/settings.js
content_scripts/link_hints.js
content_scripts/vimium_frontend.js
content_scripts/vomnibar.js
tests/completion_test.js
tests/test_helper.js
tests/utils_test.js
lib/clipboard.js
lib/dom_utils.js
lib/keyboard_utils.js
lib/utils.js
