language: node_js
node_js: 0.10
before_install:
  - "npm install -g coffee-script"
  - "npm install path"
  - "cake build"
script: "cake test"
notifications:
  email: false
branches:
  except:
    - experimental
    - 1.43
    - commands
