/* All of these declarations contain more specifiers than nesscesary to increase their specificity and help to
   ensure they override broad CSS declarations by the website vimium overlays. */
.vimiumReset,
div.vimiumReset,
span.vimiumReset,
table.vimiumReset,
a.vimiumReset,
a:visited.vimiumReset,
a:link.vimiumReset,
a:hover.vimiumReset,
td.vimiumReset,
tr.vimiumReset {
  background: none;
  border: none;
  border: none;
  bottom: auto;
  box-shadow: none;
  color: black;
  cursor: auto;
  display: inline;
  float: none;
  font-family : "Helvetica Neue", "Helvetica", "Arial", "Sans";
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: auto;
  left: auto;
  letter-spacing: 0;
  line-height: 100%;
  margin: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  padding: 0;
  position: static;
  right: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: auto;
  vertical-align: baseline;
  white-space: normal;
  width: auto;
  z-index: 99999999;
}

/* Linkhints CSS */

div.internalVimiumHintMarker {
  position: absolute;
  display: block;
  top: -1px;
  left: -1px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 11px;
  padding: 1px 3px 0px 3px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF785), color-stop(100%,#FFC542));
  border: solid 1px #C38A22;
  border-radius: 3px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}

div.internalVimiumHintMarker span {
  color: #302505;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

div.internalVimiumHintMarker > .matchingCharacter {
  color: #D4AC3A;
}

/* Help Dialog CSS */

div#vimiumHelpDialog {
  border:3px solid red;
  opacity:0.92;
  background-color:#eee;
  position:fixed;
  border:2px solid #b3b3b3;
  border-radius:6px;
  padding:8px 12px;
  width:640px;
  left:50%;
  /* This needs to be 1/2 width to horizontally center the help dialog */
  margin-left:-320px;
  top:50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 6px;
  overflow-y: scroll;
  z-index:99999998;
}

div#vimiumHelpDialog a { color:blue; }
div#vimiumTitle, div#vimiumTitle span,  div#vimiumTitle * { font-size:20px; }
#vimiumTitle {
  display: block;
  line-height: 130%;
}
div.vimiumColumn {
  width:50%;
  float:left;
  font-size: 11px;
  line-height: 130%;
}

div.vimiumColumn tr {
    display: table-row;
}

div.vimiumColumn td {
    display: table-cell;
    font-size: 11px;
    line-height: 130%;
}
div.vimiumColumn table, div.vimiumColumn td, div.vimiumColumn tr { padding:0; margin:0; }
div.vimiumColumn table { width:100%; table-layout:auto; }
div.vimiumColumn td { vertical-align:top; padding:1px; }
div#vimiumHelpDialog div.vimiumColumn tr > td:first-of-type {
  text-align:right;
  font-weight:bold;
  color:#2f508e;
  white-space:nowrap;
}
/* Make the description column as wide as it can be. */
div#vimiumHelpDialog div.vimiumColumn tr > td:nth-of-type(3) { width:100%; }
div#vimiumHelpDialog div.vimiumDivider {
  display: block;
  height:1px;
  width:92%;
  margin:10px auto;
  background-color:#9a9a9a;
}
div#vimiumHelpDialog td.vimiumHelpSectionTitle {
  font-weight:bold;
  padding-top:3px;
}
div#vimiumHelpDialog div.commandName { font-family:"courier new"; }
/* Advanced commands are hidden by default until you show them. */
div#vimiumHelpDialog div.advanced { display: none; }
div#vimiumHelpDialog div.advanced td:nth-of-type(3) { color: #555; }
div#vimiumHelpDialog a.closeButton {
  position:absolute;
  right:10px;
  top:5px;
  font-family:"courier new";
  font-weight:bold;
  color:#555;
  text-decoration:none;
  padding-left:10px;
  font-size:16px;
}
div#vimiumHelpDialog a {
  text-decoration: underline;
}

div#vimiumHelpDialog .optionsPage {
  position: absolute;
  display: block;
  font-size: 11px;
  line-height: 130%;
  right: 60px;
  top: 8px;
}
div#vimiumHelpDialog a.closeButton:hover {
  color:black;
  cursor:default;
  -webkit-user-select:none;
}
div#vimiumHelpDialogFooter {
  display: block;
  position: relative;
}
div#vimiumHelpDialogFooter * { font-size:10px; }
div#vimiumHelpDialogFooter .toggleAdvancedCommands {
  position: absolute;
  right: 2px;
  top: -34px;
}

/* Vimium HUD CSS */

div.vimiumHUD {
  display: block;
  position: fixed;
  top: auto;
  left: auto;
  bottom: 0px;
  color: black;
  height: 13px;
  min-height: 13px;
  width: auto;
  max-width: 400px;
  min-width: 150px;
  text-align: left;
  background-color: #ebebeb;
  padding: 3px 3px 2px 3px;
  margin: 0;
  border: 1px solid #b3b3b3;
  border-radius: 4px 4px 0 0;
  font-family: "Lucida Grande", "Arial", "Sans";
  /* One less than vimium's hint markers, so link hints can be shown e.g. for the panel's close button. */
  z-index: 99999997;
  text-shadow: 0px 1px 2px #FFF;
  line-height: 1.0;
  opacity: 0;
}
/* Hide the span between search box letters */
div.vimiumHUD span {
  display: none;
}
div.vimiumHUD a:link, div.vimiumHUD a:hover {
  background: transparent;
  color: blue;
  text-decoration: underline;
}
div.vimiumHUD a:link.close-button {
  float:right;
  font-family:courier new;
  font-weight:bold;
  color:#9C9A9A;
  text-decoration:none;
  padding-left:10px;
  margin-top:-1px;
  font-size:14px;
}
div.vimiumHUD a.close-button:hover {
  color:#333333;
  cursor:default;
  -webkit-user-select:none;
}

body.vimiumFindMode ::selection {
  background: #ff9632;
};

/* Vomnibar CSS */

#vomnibar ol, #vomnibar ul {
  list-style: none !important;
}

#vomnibar {
  position: fixed !important;
  width: 80% !important;
  min-width: 400px !important;
  top: 70px !important;
  left: 50% !important;
  margin: 0 0 0 -40% !important;
  font-family: sans-serif !important;

  background: #F1F1F1 !important;
  text-align: left !important;
  border-radius: 4px !important;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8) !important;
  border: 1px solid #aaa;
  /* One less than hint markers and the help dialog. */
  z-index: 99999996 !important;
}

#vomnibar input {
  font-size: 20px !important;
  padding: 4px !important;
  font-family: inherit !important;
  border-radius: 3px;
  border: 1px solid #E8E8E8 !important;
  box-shadow: #444 0px 0px 1px !important;
  width: 100% !important;
  outline: none !important;
  box-sizing: border-box !important;
}

#vomnibar .searchArea {
  padding: 10px !important;
  background-color: #F1F1F1 !important;
  border-radius: 4px 4px 0 0 !important;
  border-bottom: 1px solid #C6C9CE !important;
}

#vomnibar ul {
  background-color: white !important;
  border-radius: 0 0 4px 4px !important;
  list-style: none !important;
  padding: 10px 0 !important;
  padding-top: 0 !important;
  margin: 0 !important;
}

#vomnibar li {
  border-bottom: 1px solid #ddd !important;
  line-height: 1.1em !important;
  padding: 7px 10px !important;
  font-size: 16px !important;
  color: black !important;
  position: relative !important;
}

#vomnibar li:last-of-type {
  border-bottom: none !important;
}

#vomnibar li .topHalf, #vomnibar li .bottomHalf { overflow: hidden !important; }
#vomnibar li .bottomHalf {
  margin-top: 2px;
  font-size: 15px !important;
}

#vomnibar li .source {
  color: #777 !important;
  margin-right: 4px !important;
}
#vomnibar li .relevancy {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  background-color: white;
  color: black !important;
}

#vomnibar li .url { color: #224684 !important; }

#vomnibar li .fuzzyMatch {
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: bold !important;
  color: black !important;
}

#vomnibar li em, #vomnibar li .title {
  color: black !important;
  margin-left: 4px !important;
  font-weight: normal !important;
  font-size: inherit !important;
  font-family: inherit !important;
}
#vomnibar li em { font-style: italic !important; }
#vomnibar li em .fuzzyMatch, #vomnibar li .title .fuzzyMatch {
  color: #333 !important;
  text-decoration: underline !important;
}

#vomnibar li.selected {
  background: #BBCEE9 !important;
  font-weight: normal !important;
  font-family: inherit !important;
}

div#vimiumFlash {
  box-shadow: 0px 0px 4px 2px #4183C4;
  padding: 1px;
  background: transparent;
  position: absolute;
  z-index: 99999;
}
