/*
 * Many CSS class names in this file use the verbose "vimiumXYZ" as the class name. This is so we
 * don't use the same CSS class names that the page is using, so the page's CSS doesn't mess with
 * the style of our Vimium dialogs.
 *
 * We use the maximum z-index value for all Vimium elements to guarantee that they always appear on
 * top. Chrome supports z-index values up to 2,147,483,647 (= 2^31 - 1). We utilize the maximum
 * z-index value allowable to ensure Vimium elements have precedence over all other page elements.
 */

/*
 * This vimiumReset class can be added to any of our UI elements to give it a clean slate. This is
 * useful in case the page has declared a broad rule like "a { padding: 50px; }" which will mess up
 * our UI. These declarations contain more specifiers than necessary to increase their specificity
 * (precedence).
 */

:root {
  --vimium-background-color: white;
  --vimium-background-text-color: black;
  --vimium-foreground-color: white;
  --vimium-foreground-text-color: black;
  --vimium-link-color: blue;
}

.vimiumReset,
div.vimiumReset,
span.vimiumReset,
table.vimiumReset,
a.vimiumReset,
a:visited.vimiumReset,
a:link.vimiumReset,
a:hover.vimiumReset,
td.vimiumReset,
tr.vimiumReset {
  background: none;
  border: none;
  bottom: auto;
  box-shadow: none;
  color: black;
  cursor: auto;
  display: inline;
  float: none;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: auto;
  left: auto;
  letter-spacing: 0;
  line-height: 100%;
  margin: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  padding: 0;
  position: static;
  right: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: auto;
  vertical-align: baseline;
  white-space: normal;
  width: auto;
  z-index: 2147483647;
}

thead.vimiumReset, tbody.vimiumReset {
  display: table-header-group;
}

tbody.vimiumReset {
  display: table-row-group;
}

/* Linkhints CSS */

div#vimiumHintMarkerContainer {
  pointer-events: none;
}

div.internalVimiumHintMarker {
  position: absolute;
  display: block;
  top: -1px;
  left: -1px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 11px;
  padding: 1px 3px 0px 3px;
  background: linear-gradient(to bottom, #fff785 0%, #ffc542 100%);
  border: solid 1px #c38a22;
  border-radius: 3px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
  z-index: 2147483647;
}

div.internalVimiumHintMarker span {
  color: #302505;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

div.internalVimiumHintMarker > .matchingCharacter {
  color: #d4ac3a;
}

div > .vimiumActiveHintMarker span {
  color: #a07555 !important;
}

/* Input hints CSS */

div.internalVimiumInputHint {
  position: absolute;
  display: block;
  background-color: rgba(255, 247, 133, 0.3);
  border: solid 1px #c38a22;
  pointer-events: none;
}

div.internalVimiumSelectedInputHint {
  background-color: rgba(255, 102, 102, 0.3);
  border: solid 1px #993333 !important;
}

div.internalVimiumSelectedInputHint span {
  color: white !important;
}

/* Frame Highlight Marker CSS*/
div.vimiumHighlightedFrame {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: 5px solid yellow;
  box-sizing: border-box;
  pointer-events: none;
}

iframe.vimiumHelpDialogFrame {
  background-color: rgba(10, 10, 10, 0.6);
  padding: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  border: none;
  z-index: 2147483647;
}

/* Vimium HUD CSS */

div.vimiumHUD {
  display: block;
  position: fixed;
  width: calc(100% - 20px);
  bottom: 8px;
  left: 8px;
  background: #f1f1f1;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  border: 1px solid #aaa;
  z-index: 2147483647;
}

iframe.vimiumHUDFrame {
  background-color: transparent;
  padding: 0px;
  overflow: hidden;
  display: block;
  position: fixed;
  width: 20%;
  min-width: 350px;
  height: 58px;
  bottom: -14px;
  right: 20px;
  margin: 0 0 0 -40%;
  border: none;
  z-index: 2147483647;
  opacity: 0;
}

div.vimiumHUD .vimiumHUDSearchArea {
  display: block;
  padding: 3px;
  background-color: #f1f1f1;
  border-radius: 4px 4px 0 0;
}

div.vimiumHUD .vimiumHUDSearchAreaInner {
  color: #777;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 30px;
  margin-bottom: 0;
  padding: 2px 4px;
  border-radius: 3px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  line-height: 20px;
}

div.vimiumHUD .hud-find {
  background: #fff;
  border: 1px solid #ccc;
}

div.vimiumHUD span#hud-find-input, div.vimiumHUD span#hud-match-count {
  color: #000;
  display: inline;
  outline: none;
  white-space: nowrap;
  overflow-y: hidden;
}

div.vimiumHUD span#hud-find-input:before {
  content: "/";
}

div.vimiumHUD span#hud-match-count {
  color: #aaa;
  font-size: 12px;
}

div.vimiumHUD span#hud-find-input br {
  display: none;
}

div.vimiumHUD span#hud-find-input * {
  display: inline;
  white-space: nowrap;
}

body.vimiumFindMode ::selection {
  background: #ff9632;
}

/* Vomnibar Frame CSS */

iframe.vomnibarFrame {
  background-color: transparent;
  padding: 0px;
  overflow: hidden;

  display: block;
  position: fixed;
  width: calc(80% + 20px); /* same adjustment as in pages/vomnibar_page.js */
  min-width: 400px;
  height: calc(100% - 70px);
  top: 70px;
  left: 50%;
  margin: 0 0 0 -40%;
  border: none;
  font-family: sans-serif;
  z-index: 2147483647;
}

div.vimiumFlash {
  box-shadow: 0px 0px 4px 2px #4183c4;
  padding: 1px;
  background-color: transparent;
  position: absolute;
  z-index: 2147483647;
}

/* UIComponent CSS */
iframe.vimiumUIComponentHidden {
  display: none;
}

iframe.vimiumUIComponentVisible {
  display: block;
  color-scheme: light dark;
}

iframe.vimiumUIComponentReactivated {
  border: 5px solid yellow;
}

iframe.vimiumNonClickable {
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --vimium-background-color: #1d1d1f;
    --vimium-background-text-color: #e3e3e3;
    --vimium-foreground-color: #292a2d;
    --vimium-foreground-text-color: #e8eaed;
    --vimium-link-color: #8ab4f8;
  }

  /* DarkReader is a popular dark mode browser extension. It can apply an invert filter to the whole
   * page to make the page dark, when used in Filter and Filter+ modes. We want to reverse/invert
   * that filter again for Vimium's UI elements, because Vimium is already dark mode aware. */
  iframe.reverseDarkReaderFilter {
    -webkit-filter: invert(100%) hue-rotate(180deg) !important;
    filter: invert(100%) hue-rotate(180deg) !important;
  }

  /* Dark mode CSS for options page and exclusions */

  body.vimiumBody {
    background-color: var(--vimium-background-color);
    color: var(--vimium-background-text-color);
  }

  body.vimiumBody a,
  body.vimiumBody a:visited {
    color: var(--vimium-link-color);
  }

  body.vimiumBody textarea,
  body.vimiumBody input {
    background-color: var(--vimium-foreground-color);
    border-color: var(--vimium-foreground-color);
    color: var(--vimium-foreground-text-color);
  }

  body.vimiumBody div.example {
    color: #8a9096;
  }
}
