body {
  font: 14px "DejaVu Sans", "Arial", sans-serif;
  color: #303942;
  margin: 0 10px;
  max-width: 1000px;
}

header {
  font-size: 20px;
  border-bottom: 1px solid #eee;
  padding: 20px 0px 15px 0;
  margin: 0 10px;
}

h2 {
  margin: 20px 10px;
  font-size: 22px;
}

.command {
  padding: 1px 10px;
  background-color: #222;
  margin: 10px 0;
  box-sizing: border-box;
}

h3 {
  margin: 6px 0;
  font-weight: normal;
}
