body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
  background-color: white;
  border: 2px solid #b3b3b3;
  border-radius: 6px;
  width: 840px;
  max-width: calc(100% - 100px);
  max-height: calc(100% - 100px);
  margin: 50px auto;
  overflow-y: auto;
  overflow-x: auto;
}

#dialog {
  min-width: 600px;
  padding: 8px 12px;
}

a {
  text-decoration: underline;
  color: #2f508e;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a#close {
  font-family: "courier new", monospace;
  font-weight: bold;
  color: #555;
  text-decoration: none;
  font-size: 24px;
  position: relative;
  top: 3px;
  padding-left: 5px;
  cursor: pointer;
}

a#close:hover {
  color: black;
  -webkit-user-select: none;
}

h1 {
  font-size: 20px;
  white-space: nowrap;
  flex-grow: 1;
  font-weight: normal;
  margin: 4px 0;
}

h1 .vim {
  color: #2f508e;
}

header a {
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

header a.close {
  padding-right: 0;
}

#commands-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.column {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 3px;
}

h2 {
  margin-top: 3px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: bold;
}

div[data-group] {
  display: contents;
}

.row {
  display: contents;
}

.key-bindings {
  max-width: 110px;
  font-size: 14px;
  text-align: right;
  margin-right: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
}

/* A "key block" includes a key and a comma separator. */
.key-block {
  margin-bottom: 4px;
}

.key {
  background-color: rgb(243, 243, 243);
  color: rgb(33, 33, 33);
  margin-left: 2px;
  padding: 1px 4px;
  border-radius: 3px;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  box-shadow: inset 0 -1px 0 #bbb;
  font-family: monospace;
  font-size: 11px;
}

.comma {
  margin-right: 3px;
}

/* Don't show a trailing comma after the last key binding. */
.key-block:last-of-type .comma {
  display: none;
}

.help-description {
  font-size: 14px;
}

div.divider {
  height: 1px;
  width: 100%;
  margin: 10px auto;
  background-color: #9a9a9a;
}

span.copy-command-name-name {
  font-style: italic;
  cursor: pointer;
  font-size: 12px;
}

/* Advanced commands are hidden by default until "show advanced" is clicked. */
.row.advanced {
  display: none;
}

#dialog.showAdvanced .row.advanced {
  display: contents;
}

footer {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}

.version-info {
  text-align: right;
}

#toggle-advanced {
  text-align: right;
  font-size: 10px;
}

/* Dark Mode CSS for Help Dialog */
@media (prefers-color-scheme: dark) {
  #container {
    border-color: rgba(255, 255, 255, 0.1);
    background-color: #202124;
  }

  #dialog {
    background-color: #292a2d;
    color: white;
  }

  a {
    color: #8ab4f8;
  }

  h1,
  h2 {
    color: white;
  }

  h1 .vim {
    color: #8ab4f8;
  }

  div.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .key {
    background-color: #1d1d1f;
    border: solid 1px black;
    box-shadow: none;
    color: white;
  }

  .help-description {
    color: #c9cccf;
  }
}
