div.vimium-hud {
  display: block;
  position: fixed;
  width: calc(100% - 20px);
  bottom: 8px;
  left: 8px;
  background: #f1f1f1;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  border: 1px solid #aaa;
  z-index: 2147483647;
}

div.vimium-hud .vimium-hud-search-area {
  display: block;
  padding: 3px;
  background-color: #f1f1f1;
  border-radius: 4px 4px 0 0;
}

div.vimium-hud .vimium-hud-search-area-inner {
  color: #777;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 30px;
  margin-bottom: 0;
  padding: 2px 4px;
  border-radius: 3px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  line-height: 20px;
}

div.vimium-hud .hud-find {
  background: #fff;
  border: 1px solid #ccc;
}

div.vimium-hud span#hud-find-input, div.vimium-hud span#hud-match-count {
  color: #000;
  display: inline;
  outline: none;
  white-space: nowrap;
  overflow-y: hidden;
}

div.vimium-hud span#hud-find-input:before {
  content: "/";
}

div.vimium-hud span#hud-match-count {
  color: #aaa;
  font-size: 12px;
}

div.vimium-hud span#hud-find-input br {
  display: none;
}

div.vimium-hud span#hud-find-input * {
  display: inline;
  white-space: nowrap;
}
