#hud-container {
  --hud-container-shadow-size: 10px;
  --hud-container-border-size: 1px;
  --hud-container-side-offset: calc(
    var(--hud-container-shadow-size) + var(--hud-container-border-size)
  );
  display: block;
  position: fixed;
  bottom: 0;
  left: var(--hud-container-side-offset);
  right: var(--hud-container-side-offset);
  background-color: var(--vimium-foreground-color);
  color: var(--vimium-foreground-text-color);
  text-align: left;
  border-radius: 4px 4px 0 0;
  box-shadow: 0px 2px var(--hud-container-shadow-size) rgba(0, 0, 0, 0.8);
  border: var(--hud-container-border-size) solid #aaa;
  border-bottom: 0;
  z-index: 2147483647;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#search-area {
  display: block;
  padding: 3px;
  color: var(--vimium-foreground-text-color);
  border-radius: 4px 4px 0 0;
}

#hud {
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 3px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
}

span#hud-find-input, span#hud-match-count {
  display: inline;
  outline: none;
  white-space: nowrap;
  overflow-y: hidden;
}

span#hud-find-input:before {
  content: "/";
}

span#hud-match-count {
  color: #aaa;
  font-size: 12px;
}

span#hud-find-input br {
  display: none;
}

span#hud-find-input * {
  display: inline;
  white-space: nowrap;
}

@media (prefers-color-scheme: light) {
  #hud-body {
    background-color: #f1f1f1;
  }

  /* This creates a border around the area where you type, which is nice effect on the light color
   * scheme. It's hard to make this effect visible in dark mode, so we don't use it. */
  #hud.hud-find {
    background-color: white;
    border: 1px solid #ccc;
  }
}
